body{
    margin: 0;
    display: flex;
    font-family: sans-serif;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-image: url("blue.jpg");
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}
h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    text-align: center;
    color: olivedrab;
}
.clock{
    display: flex;
}
.clock div{
    margin: 5px;
    position: relative;
}
.clock span{
    width: 100px;
    height: 80px;
    background: rgb(45, 141, 179);
    opacity: .65;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.3);

}
.clock #text{
    height: 30px;
    font-size: 15px;
    letter-spacing: 2px;
    background: blue;
    opacity: .65;
}
.clock #ampm{
    bottom: 0;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background: rgba(5, 5, 5, 0.90);
}